/*
https://all-free-download.com/free-vector/download/clover-ribbon-vector_163196.html ou https://www.jing.fm/iclipt/TJRoxx/
*/
/* 
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #dc143c, #32cd32);
   -fx-background-radius: 30;
   -fx-opacity:0.3;
   
   -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, white, #32cd32);
   -fx-background-radius: 30;
   -fx-opacity:0.4;

*/
#fenetre
{
    -fx-background-color:#fff;
}
#entete
{
    -fx-background-color: white;
}
#entete Label
{
    -fx-text-fill : green;//#333333;    
}
#menu
{
    -fx-background-color: #0d401d;//#34495e;
}

#menu Button
{
    -fx-background-color: #0d401d;//#34495e;
    -fx-border-radius: 0px;
    -fx-border-insets: 0px 0px 0px 0px;
    -fx-cursor: hand;
}

#menu Button:hover{
    -fx-background-color: #333333;
    //-fx-border-width: 0px 0px 0px 3px;
    -fx-border-color: white;
    -fx-border-style: solid;
}
#menu Button:pressed
{
    -fx-background-color: #cccccc;   
}

#espace-travail
{
    //-fx-background-color:#f2f2f2; //  gainsboro
    //-fx-background-color:#faff9e;
    -fx-background-color: linear-gradient(from 25% 25% to 25% 100%, #f6ff4f, #faff9e);
}


#actions Button
{
//    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #8f2e2e, #423636);
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #40ff63, #40c9ff);
    -fx-background-radius:10;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-font-size:20px;
    -fx-cursor: hand;
}
#actions Button:hover
{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #24a33b, #2a81a3);    
}


